<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="B-Harvest admin" />
  <title>B-Harvest Admin | Login</title>
  </head>
  <body>
    <div class="login-card">
      <h1>B-Harvest ADMIN</h1>
      <a href="{{ .link }}" class="login-button">Google Login</a>
    </div>
  </body>
</html>

