<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <a href="{{ .link }}"><button>validator info welcome!</button></a>
  <script>
    window.location.href = "/"
  </script>
  </body>

</html>